.header {
  display: flex;
  height: 400px;
  width: 100pw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../images/asfalt-light-background-texture.png');
  background-color: #f39016;
}

.your-name {
  font-family: 'Sans Source Pro', sans-serif;
}