.nav {
  display: flex;
  height: 120px;
  color: #FFFFFF;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;

}

.span {
  display: flex;
  align-items: baseline;
  align-self: flex-start;
  font-family: 'Bungee', sans-serif;
  margin: 1.5em;

}

.composeTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  color: #ffffff;
  font-family: 'Sans Source Pro', sans-serif;
  margin: 1.5em;
}

.arrow-container {
  text-align: center;
  color: #f31616;
}

.arrow-icon {
  width: 10px;
  height: 10px;
}