.nav {
  display: flex;
  height: 120px;
  color: #FFFFFF;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;

}

.span {
  display: flex;
  align-items: baseline;
  align-self: flex-start;
  font-family: 'Bungee', sans-serif;
  margin: 1.5em;
}

.tweeter {
  margin-left: 1em;
}

.composeTweet {
  font-size: .75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  color: #ffffff;
  font-family: 'Sans Source Pro', sans-serif;
  margin: 1.5em;
}

.arrow-container {
  font: 2em;
  text-align: center;
  color: #f31616;
  margin-top: .25em;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: ease;
}


@keyframes bounce {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-4px); }
  50%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}
