.new-tweet {  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Source Sans Pro 700', sans-serif;
  font-size: .9em;
}

.tweet-input {
  font-family: 'Source Sans Pro 700', sans-serif;
  background-color: #f4f1ec;
  border-bottom: solid;
  font-size: .85em;
}

#tweet-text {
  border: 0;
  outline: none;
  width: 100%;
  overflow: auto;
  resize: none;
  background-color: #f4f1ec;
}

.below-tweet-input {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;

}

.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-around;
}



