.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tweet-input {
  background-color: #f4f1ec;
  border-bottom: solid;
}

.below-tweet-input {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;

}

.tweet-button {
  background-color: cornflowerblue;
  color: #FFFFFF;
}

.counter {
 

}