
.tweet {
  width: 100%;
  color: #808080;
  border: 5px;
  border-color: #353434;
  border-style: solid;
  background-color: #f4f1ec;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 15px 20px;
}

.tweet-header {
  height: 100px;
  background-color: inherit;
}

.tweet-body {
  border-width: 3px;
  border-bottom: solid;
  border-color: #353434;
  margin: 0 auto;
  padding: 15px;
}

.user-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.avatar {
  margin-right: 20px;
}

.avatar-name {
  width: 50%;
  display: flex;
}

.username {
  line-height: 72px;
  font-size: 36px;
  opacity: 0;
}

.tweet-container:hover .username{
  opacity: 1;
}

.fas-fa-air-freshener {
  align-self: flex-start;
}

.tweet-footer {
  padding: 15px;
  display: flex;
}

.footer-left {
  width: 50%;
}

.footer-right {
  width: 50%;
  text-align: right;
}

.tweet-container:hover {
  box-shadow: 10px 5px 5px red;
   
}